.footer {
    background-color: #e2d4b7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.text {
    color: #3b2f17;
    font-size: 1.6rem;
    font-weight: 300;
}

.icon {
    margin: 0 1rem;
}

.link:link,
.link:visited {
    color: #9b2226;
    font-weight: 500;
    transition: all 500ms;
}

.link:hover,
.link:active {
    color: #3b2f17;
    text-decoration: underline;
}
