.header {
    width: 100%;
    background-color: #e2d4b7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.logo {
    margin: 1.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.heading {
    color: #3b2f17;
    font-size: 3.2rem;
    font-weight: 300;
    margin-left: 1rem;
}

.bold {
    font-weight: 400;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list-item {
    margin-right: 10px;
}

.nav-list-item:last-child {
    margin-right: 0;
}

.nav-list-item a {
    font-size: 1.6rem;
    padding: 7px 14px;
    text-decoration: none;
    border: 3px solid #3b2f17;
    border-radius: 3px;
}

.nav-list-item a:link,
.nav-list-item a:visited {
    color: #e2d4b7;
    background-color: #3b2f17;

    transition: all 500ms;
}

.nav-list-item a:hover,
.nav-list-item a:active {
    color: #3b2f17;
    background-color: #e2d4b7;
}

.main-image {
    width: 100%;
    height: 30rem;
    overflow: hidden;
    box-shadow: 0 3px 18px rgba(155, 117, 13, 0.25);
}

.main-image img {
    width: 110%;
    height: 100%;
    object-fit: cover;
}
