.books {
    margin: 6rem auto;
    padding: 0 10%;
    animation: books-appear 1s ease-out forwards;
}

.books-loading {
    font-size: 2.4rem;
    margin: 10rem 0;
    text-align: center;
    color: #333;
}

.books-error {
    font-size: 2.4rem;
    margin: 10rem 0;
    text-align: center;
    color: red;
}

.books ul {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-evenly; */
    list-style: none;
    margin: 0;
    padding: 0;
}

@keyframes books-appear {
    from {
        opacity: 0;
        transform: translateY(3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
