.summary {
    animation: summary-appear 1s ease-out forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 110rem;
    height: 270px;
    margin: auto;
    margin-top: -20rem;
    position: relative;
    background-color: #e2d4b7;
    color: #3b2f17;
    border-radius: 3px;
    padding: 3rem 8rem;
    box-shadow: 0 1px 22px 1px rgba(0, 0, 0, 0.25);
}

.summary h2 {
    font-size: 5rem;
    margin-bottom: 2rem;
}

.summary .quote {
    align-self: center;
    font-style: italic;
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: 1.3px;
    text-align: center;
}

.summary .book {
    color: #3b2f17;
    cursor: pointer;
    transition: all 300ms;
}

.summary .book:hover {
    color: rgb(88, 70, 33);
}

@keyframes summary-appear {
    from {
        opacity: 0;
        transform: translateY(3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
