.book-details {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.book-image {
    flex-basis: 35%;
}

.book-image img {
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.book-content {
    flex-basis: 60%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding-right: 2rem;
}

.book-title {
    font-size: 3.4rem;
    font-weight: 700;
}

.book-author {
    font-size: 1.8rem;
    margin-top: 1rem;
}

.book-description {
    font-size: 1.4rem;
    margin-top: 1.6rem;
    line-height: 1.6;
}

.buttons {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #f9f6f0;
    border-radius: 3px;
    padding: 0.3rem;
    top: -25px;
    right: -25px;
}

.buttons button:not(:last-child) {
    margin-bottom: 0.5rem;
}

.btn {
    cursor: pointer;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 3px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms;
}

.btn-close {
    color: #fff;
    background-color: #888;
    top: -22px;
    right: -22px;
}

.btn-close:hover,
.btn-settings:hover {
    color: #333;
    background-color: #e2d4b7;
}

.btn-settings {
    color: #fff;
    background-color: #888;
}

.btn-delete {
    color: #fff;
    background-color: #888;
}

.btn-delete:hover {
    background-color: #9b2226;
}
