.book-details {
    display: flex;
    justify-content: space-between;
}

.book-image {
    flex-basis: 50%;
}

.book-image img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    border-radius: 3px;
}

.book-content {
    flex-basis: 45%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding-right: 2rem;
}

.book-title {
    font-size: 3.4rem;
    font-weight: 700;
}

.book-author {
    font-size: 1.8rem;
    margin-top: 1rem;
}

.book-description {
    font-size: 1.4rem;
    margin-top: 1.6rem;
    line-height: 1.6;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button:first-child {
    margin-right: 0.7rem;
}
