.book {
    text-decoration: none;
    color: rgb(51, 51, 51);
    flex-basis: 32%;
    background-color: #f9f6f0;
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    transition: all 500ms;
}

.book:hover {
    background-color: #e2d4b7;
    cursor: pointer;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.book-image {
    flex-basis: 35%;
    border-radius: 3px;
    overflow: hidden;
}

.book img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.book-content {
    flex-basis: 60%;
}

.book-heading {
    font-size: 2.4rem;
    font-weight: 700;
}

.book-author {
    font-size: 1.6rem;
    margin-top: 1.6rem;
}

.book-description {
    font-size: 1.4rem;
    margin-top: 1.6rem;
    line-height: 1.4;
}
