.book-details {
    animation: appear 400ms ease-out forwards;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.book-image {
    flex-basis: 35%;
}

.book-image img {
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.book-content {
    flex-basis: 60%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding-right: 2rem;
}

.book-title {
    font-size: 3.4rem;
    font-weight: 700;
}

.book-author {
    font-size: 1.8rem;
    margin-top: 1rem;
}

.book-description {
    font-size: 1.4rem;
    margin-top: 1.6rem;
    line-height: 1.6;
}

.btn {
    font-family: inherit;
    font-size: 1.6rem;
    cursor: pointer;
    width: 12rem;
    height: 4.4rem;
    border-radius: 3px;
    border: 0;
    display: flex;
    align-items: center;
    transition: all 400ms;
    padding-left: 25px;
}

.icon {
    margin-right: 10px;
}

.btn-close {
    position: absolute;
    border: 2px solid #f9f6f0;
    border-radius: 3px;
    color: #f9f6f0;
    background-color: #888;
    top: -22px;
    right: -55px;
}

.btn-close:hover,
.btn-settings:hover {
    color: #f9f6f0;
    background-color: #333;
}

.btn-settings {
    position: absolute;
    border: 2px solid #f9f6f0;
    border-radius: 3px;
    color: #f9f6f0;
    background-color: #888;
    bottom: 20px;
    right: -55px;
}

.btn-delete {
    position: absolute;
    border: 2px solid #f9f6f0;
    border-radius: 3px;
    color: #f9f6f0;
    background-color: #888;
    bottom: -22px;
    right: -55px;
}

.btn-delete:hover {
    background-color: #c5050b;
}

.btn-confirm {
    animation: confirm-button-appear 1s forwards;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    position: absolute;
    border: 2px solid #f9f6f0;
    border-radius: 3px;
    color: #f9f6f0;
    background-color: #888;
    bottom: -22px;
    right: -55px;
}

.btn-confirm:hover {
    background-color: #c5050b;
}

.btn-like {
    position: absolute;
    border: 2px solid #f9f6f0;
    border-radius: 3px;
    color: #f9f6f0;
    background-color: #888;
    top: 20px;
    right: -55px;
}

.btn-liked,
.btn-like:hover {
    background-color: #c5050b;
}

@keyframes confirm-button-appear {
    from {
        opacity: 0;
        transform: translateX(3rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
