.book-details {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.book-image {
    flex-basis: 35%;
}

.book-image img {
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.book-content {
    flex-basis: 60%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding-right: 2rem;
}

.book-title {
    font-size: 3.4rem;
    font-weight: 700;
}

.book-author {
    font-size: 1.8rem;
    margin-top: 1rem;
}

.book-description {
    font-size: 1.4rem;
    margin-top: 1.6rem;
    line-height: 1.6;
}

.btn {
    cursor: pointer;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 3px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms;
}

.btn-close {
    position: absolute;
    border: 2px solid #f9f6f0;
    border-radius: 3px;
    padding: 0.3rem;
    color: #f9f6f0;
    background-color: #888;
    top: -22px;
    right: -22px;
}

.btn-close:hover,
.btn-settings:hover {
    color: #f9f6f0;
    background-color: #333;
}

.btn-settings {
    position: absolute;
    border: 2px solid #f9f6f0;
    border-radius: 3px;
    padding: 0.3rem;
    color: #f9f6f0;
    background-color: #888;
    bottom: 20px;
    right: -22px;
}

.btn-delete {
    position: absolute;
    border: 2px solid #f9f6f0;
    border-radius: 3px;
    padding: 0.3rem;
    color: #f9f6f0;
    background-color: #888;
    bottom: -22px;
    right: -22px;
}

.btn-delete:hover {
    background-color: #c5050b;
}

.btn-like {
    position: absolute;
    border: 2px solid #f9f6f0;
    border-radius: 3px;
    padding: 0.3rem;
    color: #f9f6f0;
    background-color: #888;
    top: 20px;
    right: -22px;
}

.btn-liked,
.btn-like:hover {
    background-color: #c5050b;
}
