.heading {
    position: relative;
    text-align: center;
    margin-top: 2rem;
    font-size: 2.8rem;
    margin-bottom: 4rem;
}

.heading::after {
    content: '';
    display: inline-block;
    width: 13rem;
    height: 3px;
    position: absolute;
    background-color: #e2d4b7;
    top: 4rem;
    left: 11.1rem;
}

.form {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-control {
    margin-bottom: 1.5rem;
    width: 90%;
}

.form-control input,
.form-control label {
    display: block;
    font-size: 1.6rem;
    width: 100%;
}

.form-control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.form-control input {
    font-family: inherit;
    padding: 0.8rem;
    font-size: 1.2rem;
    border-radius: 3px;
    border: 1px solid #e2d4b7;
    max-width: 100%;
    resize: none;
}

.form-control input:focus {
    outline: none;
    border-color: #3b2f17;
    background-color: #e2d4b7;
}

.btn {
    font-family: inherit;
    font-size: 1.6rem;
    letter-spacing: 1px;
    cursor: pointer;
    width: 90%;
    margin: 1rem 0 2rem 0;
    padding: 0.8rem;
    border-radius: 3px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e2d4b7;
    background-color: #3b2f17;
    transition: all 300ms;
}

.btn:hover {
    background-color: #614d25;
}

.invalid input,
.invalid textarea {
    border: 1px solid #b40e0e;
    background-color: #fddddd;
}

.invalid input:focus,
.invalid textarea:focus {
    border-color: #ff8800;
    background-color: #fbe8d2;
}

.error-text {
    color: #b40e0e;
    font-size: 1.2rem;
}

.text {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.switch {
    cursor: pointer;
    color: #3b2f17;
    text-decoration: underline;
}

.switch:hover {
    color: #886c34;
}
