.loading {
    height: 50vh;
}

.loader {
    margin: 5% auto 30px;
    background-color: #e2d4b7;
}

.book {
    border: 4px solid #a39985;
    width: 60px;
    height: 45px;
    position: relative;
    perspective: 150px;
}

.page {
    display: block;
    width: 30px;
    height: 45px;
    border: 4px solid #a39985;
    border-left: 1px solid #e2d4b7;
    margin: 0;
    position: absolute;
    right: -4px;
    top: -4px;
    overflow: hidden;
    background: #a39985;
    transform-style: preserve-3d;
    -webkit-transform-origin: left center;
    transform-origin: left center;
}

.book .page:nth-child(1) {
    -webkit-animation: pageTurn 1s cubic-bezier(0, 0.39, 1, 0.68) 1.6s infinite;
    animation: pageTurn 1s cubic-bezier(0, 0.39, 1, 0.68) 1.6s infinite;
}

.book .page:nth-child(2) {
    -webkit-animation: pageTurn 1s cubic-bezier(0, 0.39, 1, 0.68) 1.45s infinite;
    animation: pageTurn 1s cubic-bezier(0, 0.39, 1, 0.68) 1.45s infinite;
}

.book .page:nth-child(3) {
    -webkit-animation: pageTurn 1s cubic-bezier(0, 0.39, 1, 0.68) 0.8s infinite;
    animation: pageTurn 1s cubic-bezier(0, 0.39, 1, 0.68) 0.8s infinite;
}

/* Page turn */

@-webkit-keyframes pageTurn {
    0% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    20% {
        background: #a39985;
    }
    40% {
        background: #a39985;
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
    100% {
        background: #a39985;
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
}

@keyframes pageTurn {
    0% {
        transform: rotateY(0deg);
    }
    20% {
        background: #a39985;
    }
    40% {
        background: #a39985;
        transform: rotateY(-180deg);
    }
    100% {
        background: #a39985;
        transform: rotateY(-180deg);
    }
}
